<!DOCTYPE html>
<html lang="en">
	<head>
		<%- require('./_includes/head.ejs')({
			title: 'Homepage Title',
		})%>
		
		<link href="./assets/css/base.css" rel="stylesheet" />
		<!-- <link href="./assets/css/components.css" rel="stylesheet" /> -->
		<link href="./assets/css/chrome.css" rel="stylesheet" />
		<link href="./assets/css/home.css" rel="stylesheet" />

	</head>
	<body class="page-home">

		<main id="skip-to-content" class="site-content">
			<h1>Scavenger hunt answers</h1>
			<ul>
				<li><a href="./elves/">Elves</a></li>
				<li><a href="./dwarves/">Dwarves</a></li>
				<li><a href="./men/">Men</a></li>
				<li><a href="./hobbits/">Hobbits</a></li>
			</ul>
			<h1>Speed hunt</h1>
			<a href="./speed-hunt/">Speed hunt</a>
			
		</main>

		<script type="text/javascript" src="./assets/js/manifest.js"></script>
		<script type="text/javascript" src="./assets/js/vendor.js"></script>
		<script type="text/javascript" src="./assets/js/base.js"></script>

		<!-- <script type="text/javascript" src="./assets/js/home.js"></script> -->
	</body>
</html>
