<!DOCTYPE html>
<html lang="en">
	<head>
		<%- require('./_includes/head.ejs')({
			title: 'Homepage Title',
		})%>

		<link href="./assets/css/home.css" rel="stylesheet" />

	</head>
	<body class="page-home">

		<main id="skip-to-content" class="site-content">
			
		</main>

		<%- require('./_includes/footer.ejs')({
			customVar2: 'home data 2',
		})%>

		<script type="text/javascript" src="./assets/js/home.js"></script>
	</body>
</html>
