<!DOCTYPE html>
<html lang="en">
	<head>
		<%- require('../_includes/head.ejs')({
			title: 'LOTR - Scavenger Hunt - Elves',
		})%>

    <link href="../assets/css/base.css" rel="stylesheet" />
    <!-- <link href="./assets/css/components.css" rel="stylesheet" /> -->
    <link href="../assets/css/chrome.css" rel="stylesheet" />
		<link href="../assets/css/home.css" rel="stylesheet" />

	</head>
	<body>

		<main id="skip-to-content" class="site-content scavenger-hunt-answers">
			<section>
        <h1>Clue 1 Answer: Rivendell.</h1>
        <h2>Item: bow and arrow</h2>
				<p><strong>Book hint:</strong>“Very good” Said Frodo. “I will go east, and I will make for ________...' He spoke lightly, but his heart was moved suddenly with a desire to see the house of Elrond Halfelven, and breathe the air of that deep valley where many of the Fair Folk, masters of healing and of the bow, still dwelt in peace."</p><hr />

<p><strong>Movie hint:</strong> Elrond: "Strangers from distant lands. Friends of old. You've been summoned here to answer the threat of Mordor. Middle-Earth stands upon the brink of destruction. None can escape it. You will unite or you will fall. Each race is bound to this fate, this one doom. Bring forth the Ring, Frodo."</p>

<p>Legolas: “...And you have my bow”.</p><hr />

<p><strong>Neighborhood hint:</strong> A path to the woods.</p>
        <img src="../assets/images/scavenger-hunt/elf2.jpg" alt="lorem" class="scavenger-hunt" />
      </section>
      <section>
        <h1>Clue 2 Answer: Lothlorien.</h1>
        <h2>Item: brooch and cloak</h2>
				<p><strong>Book hint:</strong>It seemed to Frodo that through his heavy cloak he had stepped through a high window that looked on a vanished world. A light was upon it for which his language had no name. All that he saw was shapely, but the shapes seemed at once clear cut, as if they had been first conceived and drawn at the uncovering of his eyes, and ancient as if they had endured for ever. In winter here no heart could mourn for summer or for spring. No blemish or sickness or deformity could be seen in anything that grew upon the earth. On the land of ______, there was no stain.</p><hr />

<p><strong>Movie hint:</strong> Galadriel: Frodo! Your coming to us, is as the footsteps of doom! You bring great evil here, Ringbearer!"</p>

<p>The fellowship is surrounded by elves, light and fair, bearing cloaks and broaches of the land 
of ________. </p><hr />

<p><strong>Neighborhood hint:</strong> Rexford and Guildhall.</p>
        <img src="../assets/images/scavenger-hunt/elf3.jpg" alt="lorem" class="scavenger-hunt" />
      </section>
      <section>
        <h1>Clue 3 Answer: Helms Deep.</h1>
        <h2>Item: Uruk-hai flag</h2>
				<p><strong>Book hint:</strong>“It is said that the Hornburg has never fallen to assault,” said Théoden; “but now my heart is doubtful. The world changes, and all that once was strong now proves unsure. How shall any tower withstand such numbers and such reckless hate?"</p>
<p>The Uruk’s swarmed the wall, bearing a standard of a white hand centered on a black field. </p><hr />

<p><strong>Movie hint:</strong> Gimli: Well, lad, whatever luck you live by, let's hope it lasts the night.</p>
<p>Legolas: Your friends are with you, Aragorn.</p>
<p>Gimli: Let's hope they last the night.</p>

<p>In the distance, the three could make out dark shapes; flags bearing the white hand of Saruman.</p><hr />

<p><strong>Neighborhood hint:</strong> You might stop by here before the pool.</p>
        <img src="../assets/images/scavenger-hunt/elf4.jpg" alt="lorem" class="scavenger-hunt" />
      </section>
      <section>
        <h1>Clue 4 Answer: Minas Tirith.</h1>
        <h2>Item: inflatable elephant</h2>
				<p><strong>Book hint:</strong>But wherever the mumakil came on the fields of the Pelennor there the horses would not go, but blenched and swerved away; and the great monsters were unfought, and stood like towers of defence, and the Haradrim rallied about them.</p><hr />

<p><strong>Movie hint:</strong> PIPPIN: I didn't think it would end this way.<br />
GANDALF: End? No, the journey doesn't end here. Death is just another path, one that we all must take. The grey rain-curtain of this world rolls back, and all turns to silver glass, and then you see it.<br />
PIPPIN: What? Gandalf? See what?<br />
GANDALF: White shores, and beyond, a far green country under a swift sunrise.<br />
PIPPIN: Well, that isn't so bad.<br />
GANDALF: No. No, it isn't.”</p><hr />

<p><strong>Neighborhood hint:</strong> Jeffrey, Elise, Lila, Rose, Jack can see it.</p>
        <img src="../assets/images/scavenger-hunt/elf5.jpg" alt="lorem" class="scavenger-hunt" />
      </section>
      <section>
        <h1>Clue 5 Answer: Mealy house.</h1>
        <h2>Item: Ring</h2>
				<p><strong>Final clue:</strong>His sword he hung over the mantlepiece. His coat of mail was arranged on a stand in the hall. His magic ring he kept in an envelope on the mantle, and cheifly used it when unpleasant callers came. </p>
      </section>
		</main>

    <script type="text/javascript" src="../assets/js/manifest.js"></script>
    <script type="text/javascript" src="../assets/js/vendor.js"></script>
    <script type="text/javascript" src="../assets/js/base.js"></script>

	</body>
</html>
