<div class="skip-links">
	<h4>Skip Links</h4>
	<ul>
		<li><a href="#skip-to-nav">Skip to main navigation</a></li>
		<li><a href="#skip-to-content">Skip to content</a></li>
		<li><a href="#skip-to-footer">Skip to footer</a></li>
	</ul>
</div>

<header class="site-header">
	<div class="container">

		<a href="/" class="primary-logo" id="skip-to-nav">
			Internet Website - <%= customVar1 %>
		</a>

		<nav class="primary-nav">
			<ol>
				<li><a href="/" class="<%= classNavHomeActive %>">Home</a></li>
				<li><a href="/subpage/" class="<%= classNavSubpageActive %>">Subpage</a></li>
			</ol>
		</nav>

	</div>
</header>
