
// General Page Structure
// -----------------------------------------------------------------+

html {
	background: $color-tan url($image-path+'/background.jpg') no-repeat center center fixed;
	background-size: cover;
	overflow-x: hidden;
}

body {
	min-width: $container-width-mobile;
	padding: 4%;
	width: 100%;
}

.site-content {
	padding-top: 20px;
}

.container {
	margin: 0 auto;
	max-width: $container-width-desktop-wide;
	padding-left: $gutter-width;
	padding-right: $gutter-width;
	width: 100%;
}

.scavenger-hunt-answers {
	section {
		margin-bottom: 50px;
	}
}

.content {
	background-color: #fff;
	border-bottom: 2px solid #666;
	border-top: 2px solid #666;
	margin: 20px 0;

	.container,
	.container-fluid {
		min-height: 200px; //TEMP: to give empty content areas enough space
		padding: $vertical-pad $gutter-width;
	}
}

img {
	display: inline-block;
	margin: auto;

	&.scavenger-hunt {
		border: 6px solid $color-white;
	}
}
