<!DOCTYPE html>
<html lang="en">
	<head>
		<%- require('../_includes/head.ejs')({
			title: 'LOTR - Scavenger Hunt - Dwarves',
		})%>

    <link href="../assets/css/base.css" rel="stylesheet" />
    <!-- <link href="./assets/css/components.css" rel="stylesheet" /> -->
    <link href="../assets/css/chrome.css" rel="stylesheet" />
		<link href="../assets/css/home.css" rel="stylesheet" />

	</head>
	<body>

		<main id="skip-to-content" class="site-content scavenger-hunt-answers">
			<section>
        <h1>Clue 1 Answer: Helms Deep.</h1>
        <h2>Item: Cauldron</h2>
        <img src="../assets/images/scavenger-hunt/test.jpg" alt="lorem" class="scavenger-hunt" />
      </section>
      <section>
        <h1>Clue 2 Answer: Moria.</h1>
        <h2>Item: squid tentacle</h2>
        <img src="../assets/images/scavenger-hunt/test.jpg" alt="lorem" class="scavenger-hunt" />
      </section>
      <section>
        <h1>Clue 3 Answer: Lothlorien.</h1>
        <h2>Item: Helmet</h2>
        <img src="../assets/images/scavenger-hunt/test.jpg" alt="lorem" class="scavenger-hunt" />
      </section>
      <section>
        <h1>Clue 4 Answer: Morannon.</h1>
        <h2>Item: hammer</h2>
        <img src="../assets/images/scavenger-hunt/test.jpg" alt="lorem" class="scavenger-hunt" />
      </section>
      <section>
        <h1>Clue 5 Answer: Mealy house.</h1>
        <h2>Item: Ring</h2>
        <img src="../assets/images/scavenger-hunt/test.jpg" alt="lorem" class="scavenger-hunt" />
      </section>
		</main>

    <script type="text/javascript" src="../assets/js/manifest.js"></script>
    <script type="text/javascript" src="../assets/js/vendor.js"></script>
    <script type="text/javascript" src="../assets/js/base.js"></script>
	</body>
</html>
