<!DOCTYPE html>
<html lang="en">
	<head>
		<%- require('../_includes/head.ejs')({
			title: 'LOTR - Scavenger Hunt - Dwarves',
		})%>

    <link href="../assets/css/base.css" rel="stylesheet" />
    <!-- <link href="./assets/css/components.css" rel="stylesheet" /> -->
    <link href="../assets/css/chrome.css" rel="stylesheet" />
		<link href="../assets/css/home.css" rel="stylesheet" />

	</head>
	<body>

		<main id="skip-to-content" class="site-content scavenger-hunt-answers">
			<section>
        <h1>Clue 1 Answer: Helms Deep.</h1>
        <h2>Item: Cauldron</h2>
				<p><strong>Book hint:</strong>"Strange are the ways of Men, Legolas! Here they have one of the marvels of the Northern World, and what do they say of it? Caves, they say! Caves! Holes to fly to in times of war, to store fodder in! My good Legolas, do you know that the caverns of ________ are vast and beautiful. There would be an endless pilgrimage of Dwarves, merely to gaze at them, if such things were known to be. Aye indeed, they would pay pure gold for a brief glance." The fire of Orthanc, an explosive craft concocted in dark cauldrons by the wizard Saruman, burned brightly outside the gates.</p><hr />

<p><strong>Movie hint:</strong> Gimli: "Come on. We can take 'em!"<br />
Aragorn: "It's a long way."<br />
Gimli: "Toss me."<br />
Aragorn: "What?"<br />
Gimli: "I cannot jump the distance so you have to toss me… Don't tell the elf."<br />
Aragorn: "Not a word."</p><hr />

<p><strong>Neighborhood hint:</strong> You might stop by here before the pool.</p>
        <img src="../assets/images/scavenger-hunt/dwarf2.jpg" alt="lorem" class="scavenger-hunt" />
      </section>
      <section>
        <h1>Clue 2 Answer: Moria.</h1>
        <h2>Item: squid tentacle</h2>
				<p><strong>Book hint:</strong>"We cannot get out” Gandalf read. “We cannot get out. They have taken the bridge and Second Hall. Frár and Lóni and Náli fell there bravely while the rest retreated to Mazarbul. We still hold the chamber but hope is fading now. Óin’s party went five days ago but today only four returned. The pool is up to the wall at West-gate. The Watcher in the Water took Óin -- we cannot get out. The end comes soon. We hear drums, drums in the deep."</p><hr />

<p><strong>Movie hint:</strong> Aragorn: "The Mines are no place for a pony, even one so brave as Bill."<br />
Sam: "Bye Bill."<br />
[Merry begins to throw stones into the water. Pippin follows suit, but Aragorn stops him.]<br />
Aragorn: "Do not disturb the water."</p><hr />

<p><strong>Neighborhood hint:</strong> Sassafras and Sweet Gum.</p>
        <img src="../assets/images/scavenger-hunt/dwarf3.jpg" alt="lorem" class="scavenger-hunt" />
      </section>
      <section>
        <h1>Clue 3 Answer: Lothlorien.</h1>
        <h2>Item: Helmet</h2>
				<p><strong>Book hint:</strong>The travellers now turned their faces to the journey; the sun was before them, and their eyes were dazzled, for all were filled with tears. Gimli wept openly.
<br /><br />
"I have looked the last upon that which was fairest," removing his helmet he said to Legolas his companion. "Henceforward I will call nothing fair, unless it be her gift." He put his hand to his breast.</p><hr />

<p><strong>Movie hint:</strong> HALDIR: A, Aragorn in Dúnedain istannen le ammen. <br />
ARAGORN: (bows) Haldir<br />
GIMLI: So much for the legendary courtesy of the Elves! Speak words we can also understand!<br />
HALDIR: We have not had dealings with the dwarves, since the dark days.<br />
GIMLI: And do you know what this Dwarf says to that? Ishkhaqwi ai durugnul! </p><hr />

<p><strong>Neighborhood hint:</strong> Rexford and Guildhall</p>
        <img src="../assets/images/scavenger-hunt/dwarf4.jpg" alt="lorem" class="scavenger-hunt" />
      </section>
      <section>
        <h1>Clue 4 Answer: Morannon.</h1>
        <h2>Item: hammer</h2>
				<p><strong>Book hint:</strong>When all was ordered, the Captains rode forth towards _______ with a great guard of horsemen and the banner and heralds and trumpeters. There was Gandalf as chief herald, and Aragorn, Legolas and Gimli weilding his hammer, Peregrin was bidden to go also.
<br /><br />
'Come forth!' they cried. 'Let the Lord of the Black Land come forth! Justice shall be done upon him. For wrongfully he has made war upon Gondor and wrested its lands. Therefore the King of Gondor demands that he should atone for his evils, and depart then for ever. Come forth!' </p><hr />

<p><strong>Movie hint:</strong> Gimli: I never thought I’d die fighting side by side with an elf.<br />
Legolas: How about side by side with a friend?<br />
Gimli: Aye. I could do that.
</p><hr />

<p><strong>Neighborhood hint:</strong> Pathway between woods and prairie.</p>
        <img src="../assets/images/scavenger-hunt/dwarf5.jpg" alt="lorem" class="scavenger-hunt" />
      </section>
      <section>
        <h1>Clue 5 Answer: Mealy house.</h1>
        <h2>Item: Ring</h2>
				<p><strong>Final clue:</strong>His sword he hung over the mantlepiece. His coat of mail was arranged on a stand in the hall. His magic ring he kept in an envelope on the mantle, and cheifly used it when unpleasant callers came. </p>
      </section>
		</main>

    <script type="text/javascript" src="../assets/js/manifest.js"></script>
    <script type="text/javascript" src="../assets/js/vendor.js"></script>
    <script type="text/javascript" src="../assets/js/base.js"></script>
	</body>
</html>
